.tlx {
	position: absolute;
	right: 60px;
	bottom: 20px;
	//border: solid 1px white;
	width: 350px;
	font-size: 18px;
}

.tlx .info {
	display: flex;
	margin-bottom: 5px;
}
.tlx .info div{
	display: inline-block;
	margin-bottom: 5px;
	width: 100%;
}

.tlx .info div.label {
	flex: 2;

}

.tlx .info div.value {
	text-align: right;
	flex: 1;

}