.clock {
	position: absolute;
	right: 60px;
	top: 200px;
	text-align: right;
	font-family: Verdana;
	font-weight: 100;
}
.time {
	margin:0 0 5px 0;
	font-size: 80px;
}

.day-and-month {
    font-size: 80px;
}

.year {
	font-size: 30px;
}