.clock {
	position: absolute;
	right: 60px;
	top: 40px;
	text-align: right;
	font-weight: 500;
}
.time {
	margin:0 0 5px 0;
	font-size: 32px;
}

.day-and-month {
    font-size: 24px;
}

.year {
	font-size: 14px;
}
